<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
  <title>Recollection Space</title>
</head>
<body>
  <h1>Recollection Space</h1>
  <form id="login" action="/sessions" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <h2>Login</h2>
    <% if @errors && @errors.any? %>
      <div class="errors">
        <ul>
          <% @errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <label for="email">Email</label>
      <input id="email" type="email" name="email">
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password "type="password" name="password">
    </div>
    <button>Submit</button>
  </form>
</body>
</html>
