<!DOCTYPE html>
<html lang="en" style="background-color:#111">
<head>
  <title>Recollection Space</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%#= stylesheet_link_tag    'application', media: 'all' %>
  <%#= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application', defer: true %>
  <style>
    *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin:0;
      padding:0;
      border-width: 0;
    }
    html, body {
      height: 100%;
      width: 100%;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
    body {
      overflow-x: hidden;
    }
    canvas {
      height: 100%;
      display: block;
    }
    .modal {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      padding: 1rem;
      z-index: 3;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s;
    }
    .modal a {
      pointer-events: auto;
    }
    #modal-close {
      color: white;
      float: right;
      text-decoration: none;
      font-size: 2em;
      cursor: pointer;
      margin-right: 0.5rem;
    }
    .modal-section {
      background-color: white;
      opacity: 1;
      display: none;
      pointer-events: auto;
      width: 50%;
      margin-left: 25%;
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding: 2rem;
      border-radius: .25rem;
    }
    .form-group {
      margin-bottom: 1rem;
    }
    label {
      color: #4a5568;
      font-weight: bold;
      margin-bottom: 0.5rem;
      display: block;
    }
    textarea {
      font-family: inherit;
      height: 10rem;
    }
    .form-control {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      padding: 0.5rem 0.75rem;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }
    .form-control:focus, .btn:focus {
      box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
      outline: 0;
    }
    .btn {
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.5;
      padding: 0.5rem 1rem;
      border-radius: .25rem;
      margin-right: 0.5rem;
    }
    .btn-primary {
      color: white;
      background-color: #4299e1;
    }
    .btn-primary:hover {
      background-color: #2b6cb0;
    }
    .btn-secondary {
      color: black;
      background-color: #e2e8f0;
    }
    .btn-secondary:hover {
      background-color: #cbd5e0;
    }
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app"></div>
  <canvas id="canvas"></canvas>
  <div id="modal" class="modal" style="">
    <a id="modal-close">&times;</a>
    <div id="modal-new-session" class="modal-section">
      <form>
        <div class="form-group">
          <label for="modal-new-session-email">Email</label>
          <input id="modal-new-session-email" class="form-control" type="email" placeholder="Email" aria-label="Email">
        </div>
        <div class="form-group">
          <label for="modal-new-session-password">Password</label>
          <input id="modal-new-session-password" class="form-control" type="password" placeholder="Password" aria-label="Password">
        </div>
        <button id="modal-new-session-save" class="btn btn-primary">Sign in</button>
        <button id="modal-new-session-cancel" class="btn btn-secondary">Cancel</button>
      </form>
    </div>
    <div id="modal-info" class="modal-section hidden-scrollbar">
      <div id="modal-info-toolbar" class="form-group">
        <button id="modal-info-edit" class="btn btn-primary">Edit</button>
        <button id="modal-info-delete" class="btn btn-primary">Delete</button>
      </div>
      <h1 id="modal-info-caption"></h1>
      <div id="modal-info-body"></div>
    </div>
    <div id="modal-menu" class="modal-section">
      <form>
        <div class="form-group">
          <button class="save btn btn-primary form-control">Save Layout</button>
        </div>
        <div class="form-group">
          <button class="reset btn btn-primary form-control">Reset Layout</button>
        </div>
        <div class="form-group">
          <button class="new btn btn-primary form-control">New Record</button>
        </div>
      </form>
    </div>
    <div id="modal-new-record" class="modal-section">
      <form>
        <div class="form-group">
          <label for="modal-new-record-image">Image</label>
          <input id="modal-new-record-image" class="form-control" type="file" placeholder="image" aria-label="image">
        </div>
        <div class="form-group">
          <label for="modal-new-record-caption">Caption</label>
          <input id="modal-new-record-caption" class="form-control" type="text" placeholder="caption" aria-label="caption">
        </div>
        <div class="form-group">
          <label for="modal-new-record-body">Body</label>
          <textarea id="modal-new-record-body" class="form-control" placeholder="body" aria-label="body"></textarea>
        </div>
        <button id="modal-new-record-save" class="btn btn-primary">Create</button>
        <button id="modal-new-record-cancel" class="btn btn-secondary">Cancel</button>
      </form>
    </div>
    <div id="modal-new-follow" class="modal-section">
      <form>
        <div class="form-group">
          <label for="modal-new-follow-search">Search by username</label>
          <input id="modal-new-follow-search" class="form-control" type="text" placeholder="Search by username">
        </div>
        <button id="modal-new-follow-search-submit" class="btn btn-primary">Submit</button>
        <div id="modal-new-follow-results" class="hidden">
          <div class="form-group">
            <label for="modal-new-follow-users">Users</label>
            <select id="modal-new-follow-users" class="form-control">
              <option value=""></option>
            </select>
          </div>
          <button id="modal-new-follow-save" class="btn btn-primary">Create</button>
          <button id="modal-new-follow-cancel" class="btn btn-primary">Cancel</button>
        </div>
      </form>
    </div>
    <div id="modal-new-collection" class="modal-section">
      <form>
        <div class="form-group">
          <label for="modal-new-collection-categories">Category</label>
          <select id="modal-new-collection-categories" class="form-control">
            <option value=""></option>
          </select>
        </div>
        <div class="form-group">
          <label for="modal-new-collection-image">Image</label>
          <input id="modal-new-collection-image" class="form-control" type="file" placeholder="image" aria-label="image">
        </div>
        <button id="modal-new-collection-save" class="btn btn-primary">Create</button>
        <button id="modal-new-collection-cancel" class="btn btn-secondary">Cancel</button>
      </form>
    </div>
    <div id="modal-edit" class="modal-section">
      <form>
        <div class="form-group">
          <label for="modal-edit-caption">Caption</label>
          <input id="modal-edit-caption" class="form-control" type="text" placeholder="caption" aria-label="caption">
        </div>
        <div class="form-group">
          <label for="modal-edit-body">Body</label>
          <textarea id="modal-edit-body" class="form-control" placeholder="body" aria-label="body"></textarea>
        </div>
        <button id="modal-edit-save" class="btn btn-primary">Update</button>
        <button id="modal-edit-cancel" class="btn btn-secondary">Cancel</button>
      </form>
    </div>
  </div>
</body>
</html>
