<!DOCTYPE html>
<html lang="en" style="background-color:#111">
<head>
  <title>Recollection Space</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%#= stylesheet_link_tag    'application', media: 'all' %>
  <%#= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application', defer: true %>
  <style>
    *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin:0;
      padding:0;
    }
    @keyframes typing { from { width: 0; } }
    @keyframes typing2 { 0%{width: 0;} 50%{width: 0;} 100%{ width: 100; } }
    #title {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      font: 1em Consolas, Monaco, monospace;
      color: #ccc;
      margin: 2em 1em;
      z-index: -1;
    }
    #title h1 {
      width: 10ch;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 1s steps(10, end);
      transition: color 1s ease;
    }
    #title p {
      width: 18ch;
      white-space: nowrap;
      overflow: hidden;
      animation: typing2 4s steps(18, end);
      transition: opacity 1s ease;
    }
    html, body {
      height: 100%;
      width: 100%;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
    body {
      overflow-x: hidden;
    }
    canvas {
      height: 100%;
      display: block;
    }
    .modal {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: black;
      color: white;
      padding: 1em;
      z-index: 3;
      opacity: 0.9;
      transition: opacity 0.2s;
    }
    .modal p {
      margin-bottom: 1em;
    }
    .modal a {
      color: white;
    }
    .modal-close {
      color: white;
      float: right;
      margin-bottom: 1em;
    }
    #modal-info {
      opacity: 0;
      padding-top: 0px;
      padding-bottom: 0px;
      pointer-events: none;
      background-color: #222;
    }
    #modal-info > div {
      margin: 0 auto;
      max-width: 960px;
      height: 100%;
      overflow: hidden;
    }
    #modal-info > div > div {
      padding: 1em;
      overflow-y: auto;
      height: 100%;
      margin-right: -200em;
      padding-right: 201em;
      background-color: #000;
    }
    #modal-info a {
      pointer-events: auto;
    }
    #modal-info .caption:hover {
      cursor: pointer;
    }
    #modal-info .caption {
      margin-bottom: 0.2em;
    }
    #modal-info .toolbar {
      float: right;
    }
    .modal form {
      width: 50%;
      margin-left: 25%;
      margin-bottom: 1em;
      padding: 1em;
      font-size: 14px;
    }
    .modal form button, .modal form input, .modal form textarea {
      display: block;
      height: 4em;
      width: 100%;
      margin-bottom: 1em;
      padding: 1em;
    }
    .modal form textarea {
      height: 20em;
    }
    .hidden {
      display: none;
    }
  </style>
</head>
<body>
  <div id="app"></div>
  <canvas id="canvas"></canvas>
  <div id="title">
    <!-- typing animation based on Lea Verou's work: http://lea.verou.me/2012/02/simpler-css-typing-animation-with-the-ch-unit/ -->
    <h1>Peter Jang</h1>
    <p>(zoom to navigate)</p>
  </div>
  <div id="modal-info" class="modal" style="opacity:0">
    <div class="hidden-scrollbar">
      <div class="inner">
        <div class="toolbar">
          <a id="modal-info-edit" href="javascript:void(0)" class="hidden">Edit</a>
          <a id="modal-info-delete" href="javascript:void(0)" class="hidden">Delete</a>
          <a id="modal-info-close" href="javascript:void(0)">Close</a>
        </div>
        <h1 class="caption" title="Toggle solid text"></h1>
        <div class="body"></div>
      </div>
    </div>
  </div>
  <div id="modal-menu" class="modal modal-form hidden">
    <a id="modal-menu-close" class="modal-close" href="javascript:void(0)">Close</a>
    <form>
      <button id="modal-menu-save">Save Layout</button>
      <button id="modal-menu-reset">Reset Layout</button>
      <br>
      <button id="modal-menu-new">New Record</button>
    </form>
  </div>
  <div id="modal-new" class="modal modal-form hidden">
    <a id="modal-new-close" class="modal-close" href="javascript:void(0)">Close</a>
    <form>
      <div>
        <input id="modal-new-image" type="file" placeholder="Image" aria-label="Image">
      </div>
      <div>
        <input id="modal-new-caption" type="text" placeholder="Caption" aria-label="Caption">
      </div>
      <div>
        <textarea id="modal-new-body" placeholder="Body" aria-label="Body"></textarea>
      </div>
      <button id="modal-new-save">Create</button>
      <button id="modal-new-cancel">Cancel</button>
    </form>
  </div>
  <div id="modal-new-follow" class="modal modal-form hidden">
    <a id="modal-new-follow-close" class="modal-close" href="javascript:void(0)">Close</a>
    <form>
      <div>
        <input id="modal-new-follow-search" type="text" placeholder="Search by username">
        <button id="modal-new-follow-search-submit">Submit</button>
      </div>
      <div id="modal-new-follow-results" class="hidden">
        <div>
          <select id="modal-new-follow-users">
            <option value=""></option>
          </select>
        </div>
        <button id="modal-new-follow-save">Create</button>
        <button id="modal-new-follow-cancel">Cancel</button>
      </div>
    </form>
  </div>
  <div id="modal-new-collection" class="modal modal-form hidden">
    <a id="modal-new-collection-close" class="modal-close" href="javascript:void(0)">Close</a>
    <form>
      <div>
        <select id="modal-new-collection-categories">
          <option value=""></option>
        </select>
      </div>
      <div>
        <input id="modal-new-collection-image" type="file" placeholder="Image" aria-label="Image">
      </div>
      <button id="modal-new-collection-save">Create</button>
      <button id="modal-new-collection-cancel">Cancel</button>
    </form>
  </div>
  <div id="modal-edit" class="modal modal-form hidden">
    <a id="modal-edit-close" class="modal-close" href="javascript:void(0)">Close</a>
    <form>
      <div>
        <input id="modal-edit-caption" type="text" placeholder="Caption" aria-label="Caption">
      </div>
      <div>
        <textarea id="modal-edit-body" placeholder="Body" aria-label="Body"></textarea>
      </div>
      <button id="modal-edit-save">Update</button>
      <button id="modal-edit-cancel">Cancel</button>
    </form>
  </div>
</body>
</html>
